<%- include("partials/head") %>

  <body>
  <% items.forEach(function(item){ %>
    <a href="<%= item.type+"/"+item._index %>"><h1><%= item.title %></h1></a>
    <p><%= item.description %></p>
  <% }) %>

<%- include("partials/footer") %>
