<%- include("partials/head") %>

  <body>

  <% if(post == "none") { %>

    <% items.posts.forEach(function(post){ %>

      <h1><a href="<%= post.type + "/" + post._index %>"><%= post.title %></a></h1>
      <%- marked(post.description) %>

    <% }) %>

  <% } else if(posts == "none") { %>

    <h1><%= post.title %></h1>
    <%- marked(post.description) %>

  <% } %>

<%- include("partials/footer") %>
